.container {
    height: 100%;
    width: 100%;
    align-items: center;
}
.portada{
    margin-top: 120;
    margin-bottom: 50;
    flex-direction: "row";
}
form{
    width: 100%;
    align-items: "center";
}
.input{
    margin-top: 2rem;
    border-width: 1px;
    background-color:#fff ;
    height: 20px;
    width: 60%;
    font-size: 15;
    border-radius: 20;
    text-align: center;
}