input{
    margin-top: 1rem;
    background-color:#fff ;
    height: 20px;
    width: 60%;
    font-size: 15;
    border-radius: 20;
    text-align: center;
    
    
}
.title{
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: "row";
    align-items: center;
    

}
.container {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
    
}
.error{
 color:white;
 margin-top: 1rem;
 
}